/* #createPopUp,
#editPopUp,
#deletePopUp {
  width: 50%;
  margin: auto;
  padding: 48px;

  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  border-radius: 8px;
  opacity: 1;
} */

/* .modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
} */

/* .modal {
  position: "absolute";
  top: "50%";
  left: "50%";
  transform: "translate(-50%, -50%)";
  width: "50%";
  background-color: "background.paper";
  padding: 4;
  border-radius: 5;
} */

/* .modal h3 {
  text-align: left;
  font: normal normal bold 18px/21px Arial;
  letter-spacing: 0px;
  color: #f79421;
  margin-bottom: 39px;
  opacity: 1;
} */

/* #deletePopUp h3 {
  color: #ff0000;
  text-align: center;
}

#deletePopUp h5 {
  text-align: center;
  font: normal normal normal 16px/23px Arial;
  letter-spacing: 0px;
  color: #101010;
  margin: 0px;
} */

/* #createPopUp input,
#editPopUp input {
  left: 465px;
  width: 80%;
  height: 34px;

  padding-left: 10px;
  margin-left: 54px;

  border: 1px solid #dddddd;
  border-radius: 22px;
  opacity: 1;

  text-align: left;
  font: normal normal normal 16px/18px Arial;
  letter-spacing: 0px;
  color: #101010;
  opacity: 1;
} */

/* #editCompleted {
  padding: 0px;
  margin: 0px !important;
  margin-right: 10px !important;
  width: 28px !important;
  vertical-align: middle !important;
  cursor: pointer;
}

#markCompleted label {
  vertical-align: middle;
  margin: 0px !important;
  line-height: 10px;
}

.markCompleted {
  margin-top: 20px;
  width: auto;
  align-items: center;
} */

/* textarea {
  left: 465px;
  width: 80%;
  height: 138px;

  padding: 10px 10px;
  margin-left: 27px;

  border: 1px solid #dddddd;
  border-radius: 22px;
  opacity: 1;

  text-align: left;
  font: normal normal normal 16px/18px Arial;
  letter-spacing: 0px;
  color: #101010;
} */

/* label {
  text-align: left;
  font: normal normal bold 16px/18px Arial;
  letter-spacing: 0px;
  color: #101010;
  opacity: 1;


  vertical-align: top;
} */

/* #saveButton,
.cancelButton,
#saveEdit,
#deleteButton {
  width: 93px;
  height: 34px;
  text-align: center;
  font: normal normal bold 14px/16px Arial;
  letter-spacing: 0px;
  margin: 20px 20px 0px 20px;
  cursor: pointer;
} */

/* #saveButton,
#saveEdit,
#deleteButton {
  background: #25a599 0% 0% no-repeat padding-box;
  border: 1px solid #dddddd;
  border-radius: 22px;
  color: #ffffff;
} */

/* #saveButton:disabled,
#saveButton:disabled:hover,
#saveEdit:disabled,
#saveEdit:disabled:hover,
#deleteButton:disabled,
#deleteButton:disabled:hover {
  background-color: #dddddd;
  color: #666666;
  cursor: not-allowed;
}

#saveButton:hover,
#saveEdit:hover {
  background: #219186 0% 0% no-repeat padding-box;
}

#deleteButton {
  background: #ff0000 0% 0% no-repeat padding-box;
}

#deleteButton:hover {
  background: #e60000 0% 0% no-repeat padding-box;
}

.cancelButton {
  background: transparent;
  border-width: 0px;
  color: black;
}

.button {
  text-align: right;
}

#deletePopUp .button {
  text-align: center;
}

#deletePopUp h5 {
  text-align: center;
  font: normal normal normal 16px/23px Arial;
  letter-spacing: 0px;
  color: #101010;
  margin: 0px;
}

#deletePopUp h6 {
  text-align: center;
  font: normal normal bold 18px/23px Arial;
  letter-spacing: 0px;
  color: #101010;
  margin: 0px 0px 38px 0px;
} */

.upload-box {
  padding: 10px;
  box-shadow: 0 0 5px #ffdfdf;
  border-radius: 5 px;
  overflow: hidden;
}

.upload-box .top {
  text-align: center;
  margin: 0px 50px;
}

.upload-box p {
  font-weight: bold;
  color: #0086fe;
}

.upload-box button {
  outline: 0;
  border: 0;
  color: #ffdfdf;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 400;
  padding: 8px 13px;
  width: 100%;
  background: #0086fe;
  height: 40px;
}

.upload-box .drag-area {
  height: 300px;
  border-radius: 5px;
  border: 2px dashed #0086fe;
  background: #f4f3f9;
  display: grid;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  margin-top: 10px;
  justify-items: center;
  padding-bottom: 15px;
  cursor: "pointer";
}

.upload-box .drag-area .visible {
  font-size: 18px;
}

.upload-box .select {
  color: #5256ad;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.4s;
}

.upload-box .select:hover {
  opacity: 0.6;
}

.upload-box .container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 10px;
}

.upload-box .container .image {
  width: 75px;
  margin-right: 5px;
  height: 75px;
  position: relative;
  margin-bottom: 8px;
}

.upload-box .container .image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.upload-box .container .image span {
  position: absolute;
  top: -2px;
  right: 9px;
  font-size: 20px;
  cursor: pointer;
}

.upload-box input,
.upload-box .drag-area .on-drop,
.upload-box .drag-area.dragover .visible {
  display: none;
}

.delete {
  z-index: 999;
  color: #0086fe;
}
