.header {
  top: 25px;
  left: 50px;
  height: 25px;
  margin: 25px 50px 0px 50px;
  background: #25a599 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;

  padding: 15px;
  padding-left: 25px;

  font: normal bold 21px Arial;
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
}

.showCompletedP {
  text-align: right;
  margin: 0px 50px 20px 50px;

  text-decoration: underline;
  font: normal normal normal 16px/18px Arial;
  letter-spacing: 0px;
  color: #101010;
  opacity: 1;
}

.showCompleted {
  cursor: pointer;
}
